section{
    margin-top: 250px;
    margin-left: 50px;

    .edit-12{
        font-size: 100px;
        font-family: 'Times New Roman', Times, serif;
        color: white;
    }

    .edit-22{
        font-size: 150px;
        margin-left: 100px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
    }


    .contacts{
        color: white;
        font-size: 20px;
        font-weight: bolder;
        margin-left: 100px;

        .con{
            margin-top: 10px;
        }
    }

}
