.app-edit{
    background:rgba(0, 0, 0, 0.2)  url('./src/assets/fish-logo.avif');
        background-size: cover;
        background-blend-mode: darken;
        width: 100vw;
        height: 100vh;


}