

nav{
    display: flex;
    gap: 800px;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 60px;
    background-color:rgba(0,0,0,0.8);
    color: white;


    .edit-11{
        width: 100px;
        height: 100px;

        >img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .edit-23{
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: center;
        align-items: center;

        .button-home{
            width: 100px;
            height: 30px;
            border: 1px solid goldenrod;
            border-radius: 5px;
            background-color: transparent;
            color: white;
        }

        a{
            display: flex;
            flex-direction: row;
            gap: 30px;
            text-decoration: none;
            color: wheat;

        }
    }



}