.main-edit2{
    background:rgba(0, 0, 0, 0.9)  url('./src/assets/burger.avif');
        background-size: cover;
        background-blend-mode: darken;
    .button-edit{
        display: flex;
        gap: 100px;
        align-items: center;
        justify-content: center;

        .mbutton-1{
            display: flex;
            flex-direction: column;
            width: 150px;
            gap: 50px;

            >button{
                height: 40px;
                background-color: #CDA45E;
                border-radius:50px ;
                font-size: 18px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color: #26231D;
            }
        }

        .mbutton-1-results{
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            
            >button{
                height: 40px;
                background-color: #CDA45E;
                border-radius:50px ;
                font-size: 18px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color: #26231D;
            }
        }

        .mbutton-2{
            display: flex;
            flex-direction: column;
            width: 150px;
            gap: 50px;

            >button{
                height: 40px;
                background-color: #CDA45E;
                border-radius:50px ;
                font-size: 18px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color: #26231D;
            }
        }

        .mbutton-3{
            display: flex;
            flex-direction: column;
            width: 150px;
            gap: 50px;

            >button{
                height: 40px;
                background-color: #CDA45E;
                border-radius:50px ;
                font-size: 18px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color: #26231D;
            }

            
        }
    }
    
    .cuisines-edit{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 100px;
        
    
    
        .cuisine-text{
            display: flex;
            flex-wrap: wrap;
            width: 300px;
            height: 300px;
            color: white;
        }

        .cuisine-image{
            width: 200px;
            height: 200px;
            border-radius: 9999px;
        }
    }
    
    
    
    .menu-3{
        font-size: 40px;
        color: #CDA45E;
        font-weight: bolder;
        font-style: oblique;
    }
    
    .menu-2{
        font-size: 25px;
        color:#8AAAAA ;
        font-weight: 900;
    }
    
    .menu-1{
        margin-bottom: 50px;
        padding-top: 50px;
        padding-left: 50px;
    }
    
    .menu-edit{
        display: flex;
        gap: 900px;
        padding-top: 20px;
    }
    
    .menu-button{
        width: 100px;
        height: 40px;
        font-size: 20px;
        background-color: #CDA45E;
        color: #26231D;
        border: none;
    }
    
}